<h1><%= @food.name %></h1>
<h3><%= @food.category.name %></h3>
<h4><%= @food.description %></h4>
<p><%= @food.ingrediants %></p>

<%= link_to "Back", root_path %>

<% if user_signed_in? %>

    <% if current_user.id == @food.user_id %>
        <%= link_to "Edit", edit_food_path(@food) %>
        <%= link_to "Remove item", food_path(@food), method: :delete, data: {confirm: "Are you sure you want to remove this item?"} %>
    <% end %>
<% end %>