
<div class="review-rating" data-score="<%= review.rating %>"></div>
<p class="review-comment"><%= review.comment %></p>


<% if user_signed_in? %>

  <% if current_user.id == review.user_id %>

    <%= link_to "" %>
    <%= link_to " | Edit review", edit_food_review_path(review.food, review) %>
    <%= link_to " | Remove review |", food_review_path(review.food, review), method: :delete, data: { confirm: "Are you sure you want to delete your review?"} %>

  <% end %>
<% end %>
